CONTENT_SERVER_URL=http://server
GITHUB_TOKEN=tokenzin_
GITHUB_OWNER=algote
GITHUB_REPO=alguito
WORKFLOW=something.yml
NEXTAUTH_SECRET=ALGO
NEXT_PUBLIC_FIREBASE_API_KEY=algo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=algo
NEXT_PUBLIC_FIREBASE_PROJECT_ID=algo
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=algo
NEXT_PUBLIC_FIREBASE_APP_ID=algo
